body, a {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
    list-style: none;
}
.header-logo {
    width: 50px;
    
}